/* General Styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/*Styling for the headings*/
.header{
    font-weight: lighter;
    font-size: 45px;
    text-align: center;
    padding: 15px;
}
h3{
    text-align: center;
    font-weight: lighter;
    font-size: 25px;
    padding: 7px;
}
/* navbar section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px ; 
    width:100%;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 60px 65px;
}

.navbar ul{
    list-style-type: none;
    display: flex;
}

.navbar ul li{
    margin-right: 10px;
}

.navbar ul li a{
    color:black;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

/* Home section Styling */
.home-section{
    height: 100vh;
    background-image:url(./images/bg2.webp);
    background-size: cover;
        
}
.hero-text{
    top: 35%;
    left: 20%;
    position: absolute;

}
.hero-text .p1{
    padding: 15px;
    font-size: 14px;
    font-weight:lighter;
    display: none;

}
.hero-text #p2{
    font-weight: lighter;
    font-size: 35px;
    font-style: italic;
}
.hero-text #p3{
    font-weight: lighter;
    font-size: 60px;
    font-style: italic;
}
.home-text{
    position: absolute;
    bottom: 20px;
    font-size: 14px;
    left: 58%;
    font-style: italic;
}
/* Button Styling */
#click{
    position: relative;
    font-style: italic;
    justify-content: center;
    align-items: center;
    left:50%;
    border: none;
    font-size: 14px;
    border-radius: 40px;
    background-color:none;
    min-height:30px; 
    min-width: 120px;
     
}
#click:hover{
    background-color:beige;
    transition: 0.7s;
}

/* About section styling */
.about-section{
    height: 100vh;
    background-image: url(./images/bg5.webp);
    background-size: cover;
}

.about-section .image img{
    border-radius: 100px;
    left: 45%;
    position: relative;
    
}

.about-content{
     margin: auto;
     font-size: 14px;
     width:60%;
     
}
  /* contact me */
#links{
    position: relative;
    padding: 5px;
    justify-content: center;
    left:40%;
} 

  /* Footer section */
footer {
    padding: 50px;
    text-align: center;
    bottom: 0;
}
  
